body{
	width: 900px;
	height: auto; vertical-align: bottom;
	border: 1px solid #000;
	margin: auto;
    background: #FFFF00;
}
p{
    text-align: justify;
}

header{
    display: inline
	width: 900px;
	height: 100px;
	border: 0px solid #000;
}
h1{
    color: red;
    text-align: center;
}

#categorias{
	width: 900px;
	height: auto; overflow: hidden;
	border: 1px solid;
	margin-top: 10px;
}

.uno{
	width: 280px;
	height: auto; overflow: hidden;
	border: 1px solid #ccc;
	float: left;
	padding: 5px;
	text-align: center;
	color: #4682b4;
}

.parrafo{
	color: #707070;
	text-align: justify;
}
.dos{
	margin-left: 12px;
	margin-right: 12px;
}

.leer-mas{
	text-decoration: none;
	border: 1px solid #006699;
	padding: 10px 20px 10px 20px;
	margin-bottom: 10px;
}

.leer-mas:hover{
	background: #006699;
	color: #fff;
	transition: background 1s, color 1s;
}
.imagen_1 img{
    width: 900px;
    height: 350px
}
.imagen_1 p{
    text-align: justify;
    color: blue;
}
h2{
    color: firebrick;
    text-align: center;
    
    
}

