body{
    background: #E7E6E6;
}
.title{
    color: red;
    text-align: center;
}
.caja{
    background: white; 
    float: left;
    width: 150px;
    height: 320px;
    text-align: center;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
}
.contenedor{
    background: white;
    width: 1200px;
    height: 50px;
    margin: auto;
}
h2{
    color: red;
    text-align: center;
}
h3{
    color: black;
    text-align: center;
}
p{
    color: blue;
    
}
.par_le{
    text-align: justify;
}